<div class="card">
  <h3 class="card-header">Sign Up</h3>
  <form id="signup-form" class="card-body">

    <label class="form-label" for="firstName-signup">first name:</label>
    <input type="text" id="firstName-signup" class="form-input"/>

    <label class="form-label" for="lastName-signup">last name:</label>
    <input type="text" id="lastName-signup" class="form-input"/>

    <label class="form-label" for="username-signup">username:</label>
    <input type="text" id="username-signup" class="form-input"/>

    <label class="form-label" for="email-signup">email:</label>
    <input type="text" id="email-signup" class="form-input"/>

    <label class="form-label" for="password-signup">password:</label>
    <input type="password" id="password-signup" class="form-input"/>

    <button type="submit" id="signupButton" class="btn">signup</button>
    <a class="login-link" href="/login">Log in instead</a>
  </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/javascript/login.js"></script>