{{> post-info post}}

{{#if loggedIn}}
<div class="card">
  <h3 class="card header"></h3>
  <form class=" card-body comment-form" id="comment-form">
  
    <label class="form-lable">comment</label>
    <textarea name="comment-body"></textarea>

    <button type="submit" class="btn">add comment</button>
  </form>
</div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}